 /* Beskriver størrelse, tykkelse og plassering på border */
#border1{
    width: 300px;
    height: 500px;
    border: 2px solid;
    margin: 5px auto;
}

/* Beskriver posisjonen og plassering til tittelen */
#Title{
    position: absolute;
    right: 750px;
    top: -20px;
}